/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: black;
}
.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  width: 300px;
  border: 2px solid rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: grey;
  color: white;
}
.card img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  object-fit: cover;
}
button {
  padding: 5px 20px;
  margin-top: 9px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
